// Variables
$primary-color: #3498db;

// Estilos
.title {
  color: $primary-color;
  text-align: center;
  margin-top: 2rem;
}
.subtitle {
  color: $secondary-color;
  text-align: center;
  margin-top: 2rem;
}
